body{
   font-family: 'Expletus Sans', sans-serif;
    color: var(--text-100);
    margin: 0;
    padding: 0;
    background-color: var(--bg-100);
}
.content{
    height: 40em;
    width: 100%;
    background: rgb(0,245,160);
    background: -moz-radial-gradient(circle, rgba(0,245,160,1) 3%, rgba(22,24,21,1) 50%);
    background: -webkit-radial-gradient(circle, rgba(0,245,160,1) 3%, rgba(22,24,21,1) 50%);
    background: radial-gradient(circle, rgba(0,245,160,1) 3%, rgba(22,24,21,1) 50%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00f5a0",endColorstr="#161815",GradientType=1);
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(22,24,21,.5);
    width: 40%;
    border-radius: 2em;
}
.main-menu h1{
    margin-bottom: .1em;
}
.main-menu hr{
    padding: 0;
    margin: 0;
    width: 60%;
    margin-bottom: 1em;
}
.description{
    width: 70%;
    text-align: center;
    font-size: .9em;
    font-family: 'Inter','Expletus Sans', sans-serif;
}
.select-file{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
    width: 100%;
    flex-direction: column;
}
.select-file button{
    width: 50%;
    border: 2px solid rgb(0,245,160);
    background-color: transparent;
    color: rgb(0,245,160);
    padding: .4em;
    font-weight: 550;
    font-size: 1em;
    border-radius: 1em;
    transition: .5s;
    cursor: pointer;
}
.select-file ul{
    display: flex;
    list-style: none;
    padding: 0;
    font-size: .9em;
    overflow: auto;
    max-width: 70%;
}
ul::-webkit-scrollbar {
    width: 5px; 
  }
  
  ul::-webkit-scrollbar-track {
    background-color: transparent; 
  }
  
  ul::-webkit-scrollbar-thumb {
    background-color: var(--bg-100);
    border-radius: 6px; 
  }
.select-file li{
    margin-right: 1em;
    margin-left: 1em;
}
.select-file button:hover{
    background-color: transparent;
    color: white;
    border-color: white;

}
.file-name{
    background-color: transparent;
    border: 1px solid white;
    padding: .3em;
    border-radius: .5em;
    color: white;
    text-align: center;
}
.file-name::placeholder {
    color: rgb(187, 187, 187); /* Cambia el color del texto del placeholder a gris claro */
  }
  
.send-action{
    padding: .3em;
    font-size: 1em;
    border: none;
    background-color: white;
    color: rgb(66, 66, 66);
    font-weight: 550;
    border-radius: .5em;
    margin-top: 3em;
    margin-bottom: 2em;
    width: 40%;
    transition: .4s;
    cursor: pointer;
}
.send-action:hover{
    background-color: transparent;
    color: white;
}
.send-action-d{
    padding: .3em;
    font-size: 1em;
    border: none;
    background-color: white;
    color: rgb(66, 66, 66);
    font-weight: 550;
    border-radius: .5em;
    margin-top: 0em;
    margin-bottom: 2em;
    width: 40%;
    transition: .4s;
    cursor: pointer;
}
.send-action-d:hover{
    background-color: transparent;
    color: white;
}
@media (max-width: 850px) {
    .main-menu{
        width: 100%;
    }
    .select-file ul{
        margin-bottom: 5em;
        max-width: 90%;
    }
  }