{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File compressor</title>
    <!-- CSS files -->
    <link rel="stylesheet" type="text/css" href="{% static 'modified_RegEx/css/file_compressor.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'modified_RegEx/css/palette.css' %}">
    <!-- Fonts -->
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Expletus+Sans:wght@400;500;600;700&family=Inter:wght@100;200;300;400;500;600;700;800&display=swap');
    </style>
    <!-- Icons -->
    <script src="https://kit.fontawesome.com/c986eafe9b.js" crossorigin="anonymous"></script>
    <script src="{% static 'tu_aplicacion/file_compressor.js' %}"></script>
    <!-- Icon -->
    <link
      rel="icon"
      type="image/png"
      href="{% static 'mainAPP/svg/logo_fondoTransparente1.svg' %}"
    />
</head>
<body>
    <section class="content">
        <div class="main-menu">
            <h1>File compressor</h1>
            <hr>
            <div class="description">
                <p>
                    Online file compressor that reduces the size of your files. Simply upload the file you wish to compress and our tool will
                    handle the rest. Once the file has been compressed, you can download the reduced version directly from our platform.
                </p>
            </div>
            <div class="select-file">
                <button id="uploadBtn">Upload File</button>
                <input type="file" id="fileInput" style="display: none;">
                <ul id="selectedFiles">
                    <li>Ningún archivo</li>
                </ul>
            </div>
            <input class="file-name" id="file-name" type="text" placeholder="compressed file name">
            <button class="send-action" onclick="compressFile(true)">Compress</button>
            <button class="send-action-d" onclick="compressFile(false)">Decompress</button>
        </div>
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

    </section>
    
</body>
<script>
    document.getElementById('uploadBtn').addEventListener('click', function() {
        const fileInput = document.getElementById('fileInput');
    
        fileInput.addEventListener('change', function() {
            const fileList = this.files;
            const ul = document.getElementById('selectedFiles');
            ul.innerHTML = ''; 
    
            for (let i = 0; i < fileList.length; i++) {
                const li = document.createElement('li');
                li.textContent = fileList[i].name;
                ul.appendChild(li);
            }
        });
    
        fileInput.click();
    });
    
</script>
<script src="{% static 'modified_RegEx/js/file_compressor.js' %}"></script>
</html>