<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modified RegEx</title>

    <!-- CSS files -->
    <link rel="stylesheet" type="text/css" href="/Parcial_2/proyecto/python_projects/modified_RegEx/static/modified_RegEx/css/modified_RegEx.css">
    <link rel="stylesheet" type="text/css" href="/Parcial_2/proyecto/python_projects/modified_RegEx/static/modified_RegEx/css/palette.css">
    <!-- Fonts -->
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Expletus+Sans:wght@400;500;600;700&family=Inter:wght@100;200;300;400;500;600;700;800&display=swap');
    </style>
    <!-- Icons -->
    <script src="https://kit.fontawesome.com/c986eafe9b.js" crossorigin="anonymous"></script>
    <!-- Icon -->
    <link rel="icon" type="image/png" href="{% static 'residevAPP/svg/ResiDEV_minimalist_main_logo.svg' %}">
</head>
<body>
    <header>
        <div class="header-title">
            <h1>Modified RegEx</h1>
            <h3>Oscar F. de Alba Gtz.</h3>
        </div>
    </header>
   <section class="main"> 
        <div class="query-input">

        </div>
        <div class="instructions_and_data">

        </div>
   </section>
   <footer>
        <div class="footer-container">
            <ul>
                <li>
                    <i class="fa-brands fa-github"></i>
                    <h5>GitHub</h5>
                </li>
                <li>
                    <i class="fa-brands fa-linkedin"></i>
                    <h5>LinkedIn</h5>
                </li>
            </ul>
        </div>
   </footer>
    
</body>

<!-- JS files -->
<script src="/Parcial_2/proyecto/python_projects/modified_RegEx/static/modified_RegEx/js/modified_RegEx.js"></script> 

</html>